#################
## Clarion
#################
*.exe
**/Cla*.dll
*.bpp
*.ini
*.ap~
DL32.log
*.cache
obj/**
*/obj/**
############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
BitBlt/BitBlt.EXE.manifest
